{% extends 'event_detail_base.html' %}

{% block title %} | Ad-Making {% endblock title %}
{% block name %} Ad-Making {% endblock name %}
{% block team %} 1 team of 4 {% endblock team %}
{% block grades %} Grades 6-8 {% endblock grades %}

{% block description %}
<div class="flex flex-col space-y-2 text-justify">

    <strong>
        The event prompt, along with submission details, have been released on <a target="_blank" class="text-violet-custom" href="https://bit.ly/shriteq22-ad-making-prompt"> bit.ly/shriteq22-ad-making-prompt</a>.
    </strong>

    <p class="text-justify">In this event, participating teams be required to create visually engaging ad of 45-60 seconds advertising a mundane product. Videos will be expected to be in the style of product ads from major technology companies. 
    </p>
    <div>
        <p class="text-justify"> Submissions must be in the form of a .mp4 file, and will be judged on the following criteria:</p>
        <ul class="list-disc ml-8">
            <li>Visual appeal and sound design</li>
            <li>Technical accomplishment</li>
            <li>Creativity</li>
        </ul>
    </div>

    <div>
        <h4>Timeline</h4>
        <ul class="list-disc ml-8">
            <li><strong>Tuesday, 27th September </strong> - Theme for the ad revealed </li>
            <li><strong>Tuesday, 4th October </strong> - Final submissions due at 11:59 PM </li>
        </ul>
    </div>
    <i> Note: A previous version of this page stated that this event was for grades 9-12. This was incorrect. We apologise for any inconvenience.</i>
</div>

{% endblock description %}
