{% extends 'event_detail_base.html' %}

{% block title %} | Ad-Making {% endblock title %}
{% block name %} Ad-Making {% endblock name %}
{% block team %} 1 team of 4 {% endblock team %}
{% block grades %} Grades 9-12 {% endblock grades %}

{% block description %}
<div class="flex flex-col space-y-2 text-justify">

    <p class="text-justify">In this event, participating teams will be tasked with creating an ad for a mundane product
        in the style of a product ad from major technology companies. Teams will be expected to create visually engaging
        videos of 45 to a maximum of 60 seconds advertising a given product.
    </p>
    <div>
        <p class="text-justify">Submissions will be judged anonymously on the following criteria:</p>
        <ul class="list-disc ml-8">
            <li>Visual appeal</li>
            <li>Technical accomplishment</li>
            <li>Creativity</li>
        </ul>
    </div>

    <p class="text-justify"> The product to make the ad on will be revealed on this page on <strong> Friday, the 30th of
            September</strong>. Submissions will be due on <strong> Friday, the 7th of October. </strong>
    </p>
</div>

{% endblock description %}