{% extends 'event_detail_base.html' %}

{% block title %} | Code Combat {% endblock title %}
{% block name %} Code Combat {% endblock name %}
{% block team %} 2 teams of 1 {% endblock team %}
{% block grades %} Grades 9-12 {% endblock grades %}


{% block description %}
<div class="flex flex-col space-y-3">
    <p class="text-justify">
        Race to solve as many programming questions as you can in one hour!
    </p>
    <ul class="list-disc ml-8">
        <li> This event will test the logical and programming abilities of participants. </li>
        <li> Participants will have one hour to solve as many programming challenges as they can on HackerRank. </li>
        <li> Participants will write code based on a problem description. Their program which will be automatically
            tested by an autograder. </li>
        <li> Participants will be ranked by the number of questions solved, and ties will be broken by the time taken to
            solve questions. </li>
        <li> Languages allowed: Python and C++. </li>
        <li> The event will consist of an online preliminary round and offline final round. </li>
        <li> The top 10 participants in the preliminary round will advance to offline finals at TSRS Moulsari. </li>
        <li> During the preliminary round, it will be mandatory for participants to have their cameras and microphones
            turned on. They will also be required to screen share. </li>
    </ul>

    <div>
        <h4>Timeline</h4>
        <ul class="list-disc ml-8">
            <li><strong>Saturday, 1st October </strong> - Online preliminary round over Discord at 11 AM </li>
            <li><strong>Tuesday, 11th October </strong> - Final offline round. Qualifying participants report at 8 AM </li>
        </ul>

</div>

{% endblock description %}