{% extends 'event_detail_base.html' %}

{% block title %} | Crypt Hunt {% endblock title %}
{% block name %} Crypt Hunt {% endblock name %}
{% block team %} Unlimited {% endblock team %}
{% block grades %} Grades 6-12 {% endblock grades %}

{% block description %}
<div class="flex flex-col space-y-2">
    <p class="text-justify">
        In this event, your school will work together on virtual scavenger hunts across the internet.The questions will
        cover technology, pop culture, entertainment, and more.
    </p>
    <ul class="list-disc ml-8">
        <li> Participants are allowed to use the internet. </li>
        <li> Schools will progress together, meaning that any one participant from a school getting the answer for the school’s current question will advance the entire school. </li>
        <li> Points will be awarded to schools based on their position on the leaderboard at the end of the event. </li>
        <li> The organising committee (OC) may periodically provide hints to schools. These may be the same for all schools, or may be customised as per the progress of the school. The decisions of the OC when providing hints will be final and binding.
            <li> Schools are not allowed to discuss anything relating to the questions with other schools. </li>
            <li> Participants from a school will be able to discuss over their school’s official channel on the Discord server for ShriTeq. All other discussions related to the event must take place in officially sanctioned environments. </li>
            <li> All calls, meetings or other forms of communication must have at least one organising committee member present at all times. </li>
    </ul>
    <p class="text-justiy">
        Failure to comply with any of these rules could result in a temporary or permanent ban of the school from the event. 
    </p>

    <div>
        <h4>Timeline</h4>
        <ul class="list-disc ml-8">
            <li><strong>Saturday, 8th October </strong> - The crypt hunt goes live at <a class="text-violet-custom font-bold" href="/crypt-hunt">
                    shriteq.org/crypt-hunt </a> at 9 AM. </li>
            <li><strong>Monday, 11th October </strong> - The crypt hunt closes at 11:59 PM </li>
        </ul>
    </div>
</div>

{% endblock description %}