{% extends 'event_detail_base.html' %}

{% block title %} | Gaming {% endblock title %}
{% block name %} Gaming {% endblock name %}
{% block team %} 1 team of 3 {% endblock team %}
{% block grades %} Grades 6-12 {% endblock grades %}

{% block description %}
<div class="flex flex-col space-y-2 text-justify">

    <p class="text-justify">This event will require teams of 3 to play different games each round, in a competition
        meant to truly test the all-round gaming abilities of its contestants.</p>

    <p class="text-justify">The games chosen for each round of the event can be from a variety of genres. The game for
        each round of the event will be revealed 2 days prior to the round. </p>

    <p class="text-justify"> It is suggested to send participants that are flexible and can play many different types of
        games, as the participants will remain the same for all rounds and cannot be changed. Not all members of a team
        may get to participate in a round, depending on the format of the game for that round.</p>

    <ul class="list-disc ml-8">
        <li> After a preliminary round, 4 teams will advance to the semi-finals. </li>
        <li> 2 teams will advance from the semi-finals to the finals. </li>
        <li> The event will take place over Discord. Participants will be required to share their screens on Discord at all times. </li>
        <li> The use of any unfair means will lead to immediate disqualification. </li>
    </ul>

    <div>
        <h4>Timeline</h4>
        <ul class="list-disc ml-8">
            <li><strong>Thursday, 6th October </strong> - Online preliminaries will begin at 5:00 PM </li>
            <li><strong>Friday, 7th October </strong> - Online semi-finals will begin at 5:00 PM. Finals will begin at 6 PM. </li>
        </ul>
    </div>
</div>

{% endblock description %}