{% extends 'event_detail_base.html' %}

{% block title %} | Gaming {% endblock title %}
{% block name %} Gaming {% endblock name %}
{% block team %} 1 team of 3 {% endblock team %}
{% block grades %} Grades 6-12 {% endblock grades %}

{% block description %}
<div class="flex flex-col space-y-2 text-justify">

    <p class="text-justify">This event will require teams of 3 to play different games each round, in a competition meant to truly test the
    all-round gaming abilities of its contestants. </p>

    <p class="text-justify">The games chosen for each round of the event can be from a variety of genres. Not all participants may get to
    participate in a round depending on the format of the game being played. It is suggested to send participants that
    are flexible and can play many different types of games as the participants will remain the same for all rounds and
    cannot be changed. </p>

    <p class="text-justify"> Preliminaries will happen at <strong> 5:00 PM online on the 3rd of October</strong>, with the games being revealed 2 days prior to
    the event. The top 4 teams from the preliminaries will go on to the semi-finals and the top 2 teams from the
    semi-finals will go on to the finals. Semi-finals and finals will take place at <strong> 5:00 PM online on the 10th of
    October</strong>. The game for the finals will follow the same format and be revealed 2 days before the date. </p>

    <p class="text-justify"> The event will take place over DIscord. Participants will be required to share their screens on Discord at all
    times. The use of any unfair means will lead to immediate disqualification. The decision of the OC will be final and
    binding on these matters. </p>
</div>

{% endblock description %}