{% extends 'event_detail_base.html' %}

{% block title %} | Hackathon {% endblock title %}
{% block name %} Hackathon {% endblock name %}
{% block description %}
<p class="leading-loose">
    <strong class="text-violet">About the event</strong> <br>
    Eros fusce dui maecenas vivamus nam laoreet duis integer donec sociis massa porta porttitor aliquam urna montes facilisis morbi ad eleifend pulvinar pretium libero sodales posuere potenti conubia vehicula egestas purus turpis molestie fames volutpat ipsum aenean neque condimentum ridiculus luctus convallis venenatis viverra dolor scelerisque velit praesent consectetur aliquet
</p>
{% endblock description %}