{% extends 'event_detail_base.html' %}

{% block title %} | Hackathon {% endblock title %}
{% block name %} Hackathon {% endblock name %}
{% block team %} 1 team of 5 {% endblock team %}
{% block grades %} Grades 9-12 {% endblock grades %}


{% block description %}
<div class="flex flex-col space-y-3">
    <p class="text-justify">
        Put your creativity and ingenuity to the test in the hackathon, as you build what could be the next billion-dollar tech startup!
    </p>
    <p class="text-justify">
        Participating teams will build a technological product based on a given theme. The product can be either software based, such as an app, website, or AR/VR; or hardware based.
    </p>
    <br>
    <h4>Format</h4>
    <p class="text-justify">
        The hackathon will consist of an online preliminary round, in which participants will submit a proof of concept of their idea. Five teams will be shortlisted for offline finals, in which they will present their finished product to a panel of judges onstage. The preliminary round will take place over Devpost. Participants will be expected to submit a working project along with essential details about their submission. 
        <!-- <br> You can find the Devpost page for the hackathon <strong> <a href="#" class="text-violet-custom">here</a></strong>. -->
        <br> The preliminary round will take over Devpost. The Devpost link for the hackathon will be posted here soon.
    </p>
    <br>

        <h4>Evaluation Criteria for the Finals</h4>
        <ul class="list-disc ml-8">
            <li>Problem area addressed and potential impact</li>
            <li>Technical accomplishment and innovation</li>
            <li>Financial model and viability</li>
            <li>User interface and experience</li>
            <li>Creativity</li>
        </ul>

    <p>
        <h4>Timeline</h4>
        <ul class="list-disc ml-8">
            <li><strong>23rd September </strong> - The prompt for the preliminary round is released </li>
            <li><strong>30th September </strong> - Preliminary round submissions over DevPost </li>
            <li><strong>5th October </strong> - Teams shortlisted for the finals are revealed </li>
            <li><strong>12th October </strong> - In-person finals at The Shri Ram School, Moulsari </li>
        </ul>    
    </p>

</div>

{% endblock description %}