{% extends 'event_detail_base.html' %}

{% block title %} | Crypt Hunt {% endblock title %}
{% block name %} Crypt Hunt {% endblock name %}
{% block team %} Unlimited {% endblock team %}
{% block grades %} Grades 6-12 {% endblock grades %}

{% block description %}
<div class="flex flex-col space-y-2">
    <p class="text-justify">
        Play the classic arcade game for the chance to win an event for your school!
    </p>
    <p class="text-justify">
        Starting from <strong>00:00 AM on the 8th of October to 11 PM on the 11th of October </strong>, any student from grades 6-12 from a participating school will be able to play Pac-Man on the official page for the event on the ShriTeq website by logging in with their official school email accounts.
    </p>
    <p class="text-justify">
        The best recorded score for each participant will be stored on the site. A leaderboard with the top scores across all contestants will be visible for the entire duration of the event. Points will be awarded based on the schools of the students at the top of the leaderboard at the end of the event.
    </p>
    <strong>
        Pac-Man will be live at <a href="#" class="text-violet"> shriteq.org/pac-man </a> starting from 0:00 AM on the 8th of October.
    </strong>
</div>

{% endblock description %}