{% extends 'event_detail_base.html' %}

{% block title %} | Pac Man {% endblock title %}
{% block name %} Pac Man {% endblock name %}
{% block team %} Unlimited {% endblock team %}
{% block grades %} Grades 6-12 {% endblock grades %}

{% block description %}
<div class="flex flex-col space-y-2">
    <p class="text-justify">
        Play the classic arcade game for the chance to win an event for your school!
    </p>
    <ul class="list-disc ml-8">
        <li> Any student from grades 6-12 from a participating school will be able to play Pac-Man on the page for the event on the ShriTeq website. </li>
        <li> The best recorded score for each participant will be stored on the site. A leaderboard with the top scores across all contestants will be visible for the entire duration of the event. </li>
        <li> Points will be awarded based on the schools of the students with the highest scores at the end of the event. </li>
    </ul>
    <div>
        <h4>Timeline</h4>
        <ul class="list-disc ml-8">
            <li><strong>Saturday, 8th October </strong> - Pac-Man goes live at <a href="#"> shriteq.org/pac-man </a> at 9 AM </li>
            <li><strong>Tuesday, 11th October </strong> - Pac-Man closes at 11:59 PM </li>
        </ul>
    </div>
</div>

{% endblock description %}