{% extends 'event_detail_base.html' %}

{% block title %} | Quiz {% endblock title %}
{% block name %} Quiz {% endblock name %}
{% block team %} 1 team of 3 each {% endblock team %}
{% block grades %} Grades 5, 6-8, and 9-12 {% endblock grades %}


{% block description %}
<div class="flex flex-col space-y-3">
    <p class="text-justify">
        ShriTeq’s most awaited event returns! The quiz will test contestants’ knowledge of computers, gadgets, tech
        companies, space technology, and much more.
    </p>
    <p class="text-justify">
        There will be separate events for junior (grade 5), middle (grades 6-8), and senior (grades 9-12) teams from
        each school. Each school may send only one team of 3 students each for each category.
    </p>
    <p class="text-justify">
        All teams will first be invited to the Moulsari campus for a preliminary round. 12 teams will be selected from
        each category for semi-finals. Teams will advance up to the finals, which will be conducted by NDTV’s ‘Gadget
        Guru’ Mr. Rajiv Makhni.
    </p>
    <br>
    <h4>Timeline</h4>
    <ul class="list-disc ml-8">
        <li><strong>3rd October</strong> - Teams invited to TSRS Moulsari for offline preliminaries </li>
        <li><strong>10th October</strong> - Offline semi-finals for the middle and senior quizzes </li>
        <li><strong>11th October</strong> - Offline semi-finals and finals for the junior quiz </li>
        <li><strong>12th October</strong> - Offline finals for the middle and senior quizzes </li>
    </ul>

</div>

{% endblock description %}