{% extends 'pac_man/pac_man_base.html' %}

{% block subtitle %} - Leaderboard {% endblock subtitle %}

{% block subcontent %}
<div class="w-full">
    <table class="w-full text-md text-left border rounded-md">
        <thead class="text-md text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="py-3 px-6 w-1/12 text-center">
                    Rank
                </th>
                <th scope="col" class="py-3 px-6 w-6/12">
                    Player
                </th>
                <th scope="col" class="py-3 px-6 w-5/12">
                    Highscore
                </th>
            </tr>
        </thead>
        <tbody>
            {% for i in '123456' %}
            <tr class="bg-white border-b">
                <th scope="row" class="py-6 px-6 font-medium text-gray-900 text-center whitespace-nowrap">
                    {{ i }}
                </th>
                <td class="py-6 px-6 text-gra">
                    John Doe
                </td>
                <td class="py-6 px-6">
                    20
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock subcontent %}