{% extends 'pac_man/pac_man_base.html' %}

{% block subtitle %} - Leaderboard {% endblock subtitle %}

{% block subcontent %}
<div class="w-full">
    <table class="w-full text-md text-left border rounded-md">
        <thead class="text-md text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="py-3 px-6 w-1/12 text-center">
                    Rank
                </th>
                <th scope="col" class="py-3 px-6 w-4/12">
                    Player
                </th>
                <th scope="col" class="py-3 px-6 w-4/12">
                    School
                </th>
                <th scope="col" class="py-3 px-6 w-3/12">
                    Highscore
                </th>
            </tr>
        </thead>
        <tbody>
            {% if players|length != 0 %}
            {% for player in players %}
            <tr class="bg-white border-b">
                <th scope="row" class="py-6 px-6 font-medium text-gray-900 text-center whitespace-nowrap">
                    {{ forloop.counter }}
                </th>
                <td class="py-6 px-6 text-gra">
                    {{ player.user_id }}
                </td>
                <td class="py-6 px-6">
                    {{ player.school.display_name }}
                </td>
                <td class="py-6 px-6">
                    {{ player.high_score }}
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr class="bg-white border-b">
                <td class="py-6 px-6 text-center text-gray-600 font-semibold" colspan="4">
                    No players
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock subcontent %}