{% extends 'pac_man/pac_man_base.html' %}

{% block subtitle %} - Play {% endblock subtitle %}

{% block subcontent %}
<div class="mt-6 mb-9 font-medium">
        <div class="flex flex-row w-full">
            <div class="flex-grow">
                <p> {{ school.display_name }} <p>
                <p class="flex-grow"> {{ player.user_id }}  </p>
            </div>
            <p class=""> Highscore: {{ player.high_score }}  </p>
        </div>
</div>

<div class="w-full flex flex-col justify-center items-center">
    <div class="bg-black h-96 w-96" id="player"></div>
    <button id = "full-screen-btn" class="mt-4 border border-violet-custom rounded-md text-violet-custom py-2 px-3 text-sm hover:bg-violet-custom hover:text-white">Go full screen</button>

</div>
{% endblock subcontent %}

{% block script %}
<script>

    const btn = document.querySelector('#full-screen-btn');
    const player = document.querySelector('#player');

    btn.addEventListener("click", function (e) {
        toggleFullScreen(player);
    }, false);

    player.addEventListener("click", function (e) {
        toggleFullScreen(player);
    }, false);

    function toggleFullScreen(toFullScreen) {
        if (!document.fullscreenElement) {
            toFullScreen.requestFullscreen().catch(err => {
                alert(`Error attempting to enable full-screen mode: ${err.message} (${err.name})`);
            });
        } else {
            document.exitFullscreen();
        }
    }
</script>
{% endblock script %}