{% extends 'pac_man/pac_man_base.html' %}
{% block subtitle %} - Rules {% endblock subtitle %}

{% block subcontent %}
<div class="w-full">
    <ol class="list-decimal flex flex-col gap-3 leading-loose md:text-justify">
        <li>Participants will be identified by the website by their user ID and ranked by their best recorded scores. </li>
        <li>Each game consists of three rounds. Scores will only be saved at the end of the game, i.e., after all three rounds are over.</li>
        <li>Points will be awarded based on the schools of the students with the highest scores at the end of the event.</li>
        <li>Any attempt to manipulate or exploit the game will result in a temporary or permanent ban of the school from the event.</li>    
    </ol>
</div>
{% endblock subcontent %}