{% extends 'base.html' %}
{% load static %}

{% block title %} | Crypt Hunt{% block subtitle %} {% endblock subtitle %} {% endblock title%}
{% block content %}

<div class="w-screen pt-6 pb-8 px-8 md:px-20 lg:px-44">
    <div class="flex flex-col md:flex-row md:items-center mb-6">
        <div class="flex-grow">
            <h4 class="uppercase text-violet-custom">
                <a href="{% url 'crypt_hunt_index' %}">
                    Crypt Hunt
                </a>
            </h4>
        </div>
        <div class="flex flex-row gap-6">
            {% url 'crypt_hunt_play' as play %}
            {% url 'crypt_hunt_leaderboard' as leaderboard %}
            {% url 'crypt_hunt_rules' as rules %}

            <a href="{% url 'open' %}" class="uppercase font-light hover:text-violet-custom">Home</a>

            {% if request.path == play %}
                <p class="uppercase text-violet-custom">Play</p>
            {% else %}
                <a href="{% url 'crypt_hunt_play' %}" class="uppercase font-light hover:text-violet-custom">Play</a>
            {% endif %}
            
            {% if request.path == leaderboard %}
                <p class="uppercase text-violet-custom">Leaderboard</p>
            {% else %}
                <a href="{% url 'crypt_hunt_leaderboard' %}" class="uppercase font-light hover:text-violet-custom">Leaderboard</a>
            {% endif %}

            {% if request.path == rules %}
                <p class="uppercase text-violet-custom">Rules</p>
            {% else %}
                <a href="{% url 'crypt_hunt_rules' %}" class="uppercase font-light hover:text-violet-custom">Rules</a>
            {% endif %}
        </div>
    </div>
    {% block subcontent %} {% endblock subcontent %}
</div>

{% endblock content %}