{% extends 'crypt_hunt/crypt_hunt_base.html' %}
{% load static %}

{% block subtitle %} {% endblock subtitle %}

{% block subcontent %}

<style>
    p {
        word-wrap: break-word;
    }
</style>

<div class="mt-6 mb-9">
    <p class="font-medium"> {{ school.display_name }} <p>
    <p class="font-medium"> {{ user_id }}  </p>
</div>
<h3 class="mb-4">Question {{ question.serial_num }}</h3>
<div class="w-full grid grid-cols-12 gap-6 lg:gap-8">
    <div class="flex flex-col align-baseline justify-start col-span-12 md:col-span-7 xl:col-span-8 text-xl">
        <p style="word-wrap: break-word;">
            {{ question.question|safe }}
        </p>
            {% for path in question.static_image_paths %}
                <img src="{{ path }}" alt="" class="ch-question mt-3 block h-auto w-4/5 md:w-3/4 xl:w-2/3">
            {% endfor %}
    </div>
    <div class="col-span-12 lg:col-span-4 xl:col-span-4 ">
        <form method = "post" action = "/crypt-hunt/play" >
            {% csrf_token %}
            <div class="flex flex-col gap-3">
                <input type="text" id="answer" name="answer" placeholder="Your answer" class="rounded-md h-20 py-4 px-5 mb-1" maxlength="500" required>
                <input type="hidden" name="question-num" id="question-num" value="{{ question.serial_num }}">
                <button type="submit" class="p-3 bg-violet-custom text-white rounded-md">Submit</button>
            </div>
        </form>
    </div>
</div>

{% endblock subcontent %}