{% extends 'crypt_hunt/crypt_hunt_base.html' %}
{% block subtitle %} {% endblock subtitle %}

{% block subcontent %}
<h3> {{ school.name }} <h3>
<h3 class="mt-9 mb-2">Question {{ question.serial_num }}</h3>
<div class="w-full grid lg:grid-cols-2 gap-6">
    <div class="flex flex-col align-baseline justify-start">
        <p class="text-md lg:text-lg leading-loose lg:leading-loose">
            {{ question.question }}
        </p>
        <img src="" alt="">
    </div>
    <div>
        <form method = "post" action = "/crypt-hunt/play" >
            {% csrf_token %}
            <div class="flex flex-col gap-3">
                <input type="text" id="answer" name="answer" placeholder="Your answer" class="rounded-md h-20 py-4 px-5 mb-1" required>
                <input type="hidden" name="question-num" id="question-num" value="{{ question.serial_num }}">
                <button type="submit" class="p-3 bg-violet-custom text-white rounded-md">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock subcontent %}