{% extends 'crypt_hunt/crypt_hunt_base.html' %}
{% block subtitle %} - Rules {% endblock subtitle %}

{% block subcontent %}
<div class="w-full">
    <ol class="list-decimal flex flex-col gap-3 leading-loose md:text-justify">
    <li> The Crypt Hunt will be live from 9:00 AM on Saturday, 8th October, to 11:59 PM on Tuesday, 11th October. The website will be closed from midnight to 9:00 AM on weekends and from midnight to 3:00 PM on weekdays. The total duration of the crypt hunt will thus be 48 hours.</li>
    <li> Progress will be shared between all participants of a school, i.e., one participant entering the correct answer for a level will progress all participants from that school to the next level upon the next page refresh. </li>
    <li> Only current students from grades 6-12 of a registered school are allowed to participate. Individual and alumni registration is not allowed. </li>
    Schools will be ranked based on the serial number of the question they are on. Ties will be broken based on the time at which schools progressed to their current level. <br>
    Note: Ties between schools at level 1 will be randomly broken.
    <li> All communication, both text and voice, between participants from a school must take place under the supervision of at least one OC member. If participants from a particular school wish to set up a new chat environment, they should add an OC member to it. Failure to comply with this rule will result in a temporary or permanent ban of the entire school from the event.</li>
    <li> Sharing information about any question with any student from another school will result in a temporary or permanent ban of both schools. It is recommended that if a participant finds the correct answer, they do not not publicly share it, to prevent leaks.</li>
    <li> When a file (image, audio, video, etc) is uploaded to the site, the contents of the file may be a clue. The name of the file, or the URL on which the file is hosted on the website, are not clues.</li>
    <li> Any attempt to hack the platform for the event, or to obtain the answers by unfair means, will result in a temporary or permanent ban of the entire school from the event.</li>

</ol>
</div>
{% endblock subcontent %}