{% extends 'crypt_hunt/crypt_hunt_base.html' %}
{% block subtitle %} - Rules {% endblock subtitle %}

{% block subcontent %}
<div class="w-full">
    <div class="grid lg:grid-cols-2 lg:gap-12">
        <div>
            <ol class="list-decimal flex flex-col gap-3 leading-loose md:text-justify">
                <li>Sociis fringilla nullam mi vel curabitur, aliquam tincidunt blandit magnis lacinia aptent, nam accumsan rutrum molestie. Fringilla montes penatibus pulvinar.</li>
                <li>Sociis fringilla nullam mi vel curabitur, aliquam tincidunt blandit magnis lacinia aptent, nam accumsan rutrum molestie. Fringilla montes penatibus pulvinar.</li>
                <li>Sociis fringilla nullam mi vel curabitur, aliquam tincidunt blandit magnis lacinia aptent, nam accumsan rutrum molestie. Fringilla montes penatibus pulvinar.</li>
            </ol>
        </div>
        <div>
            <ol class="list-decimal flex flex-col gap-3 leading-loose md:text-justify" start="4">
                <li>Sociis fringilla nullam mi vel curabitur, aliquam tincidunt blandit magnis lacinia aptent, nam accumsan rutrum molestie. Fringilla montes penatibus pulvinar.</li>
                <li>Sociis fringilla nullam mi vel curabitur, aliquam tincidunt blandit magnis lacinia aptent, nam accumsan rutrum molestie. Fringilla montes penatibus pulvinar.</li>
                <li>Sociis fringilla nullam mi vel curabitur, aliquam tincidunt blandit magnis lacinia aptent, nam accumsan rutrum molestie. Fringilla montes penatibus pulvinar.</li>
            </ol>
        </div>
    </div>
</div>
{% endblock subcontent %}