.hero-animation {
  z-index: -10;
  height: 200vh;
  top: -150vh;
  position: relative;
  background: url('/static/assets/vectors/hero-background-square.svg') no-repeat center;
  background-size: 260%;
  animation: rotation 12.5s infinite linear;
  margin-bottom: -200vh;
}

@media only screen and (max-width: 768px) {
  .hero-animation {
   background-size: 100%;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}


@media (min-width: 768px) {
  .hero {
    min-height: calc(100vh - 120px);
  }
}

.hero .wave {
  z-index: 0;
}

.hero .chev-down {
  z-index: 1;
}