.hero-img {
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  max-height:100vh;
  height:auto;
  width:auto;
  bottom : 0px;
}

@media (max-width: 640px) {
  .hero-img {
    left: 60%;
    width: 155vw;
    max-height: none;
    max-width: none;
  }
}