.overflow-visible {
  overflow: visible;
}

.overflow-hidden {
  overflow: hidden;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.z-15 {
  z-index: 15;
}


/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

main {
  /* to make sure the footer is pinned to the bottom. 412px = height of footer on <md */
  min-height: calc(100vh - 412px);
}

@media only screen and (min-width: 768px) {
  main {
    /* to make sure the footer is pinned to the bottom. 328px = height of footer on desktop */
    min-height: calc(100vh - 328px);
  }
}

