main {
  /* to make sure the footer is pinned to the bottom. 328px = height of footer on desktop */
  min-height: calc(100vh - 328px);
}

.z-15 {
  z-index: 15;
}

.link-underline {
  border-bottom-width: 0;
  background-size: 0 2px;
  background-position: 6px 80%;
  background-repeat: no-repeat;
  transition: background-size 0.6s ease-in-out;
}

.link-underline:hover {
  background-size: 80% 2px;
  background-position: 6px 80%;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
