{% extends 'base.html' %}
{% block title %} Login {% endblock %}

{% block content %}
<div class="pt-6 pb-9 px-8 md:px-20 lg:px-44 w-full flex flex-col justify-center items-center">
    <h1 class="mb-10">Log in</h1>
    <form action="/accounts/login/" method="POST" class="md:w-8/12 lg:w-6/12 flex flex-col gap-6">
        {% csrf_token %}
        <div class="flex flex-col gap-2">
            <input class="rounded-sm py-4 px-4" type="text" placeholder="User ID" id="user-id" name="user-id">
            <label for="user-id" class="text-sm">Enter your firstname.lastname, eg. john.doe. You will not be allowed to log in without entering your name in this format.</label>
        </div>
        <div class="flex flex-col gap-2">
            
            <div class="flex flex-col gap-2">
                <select name="school-username" id="school-username" class="py-4 px-4">
                    {% for school in schools %}
                        <option value="{{ school.account.username }}">{{ school.display_name }} </option>
                    {% endfor %}
                </select>
                <input type="password" class="rounded-sm py-4 px-4" type="text" placeholder="School password" id="school-password" name="school-password">
                <label for="school-id" class="text-sm">Your school should have been been given a password for ShriTeq. Please contact the
                    event organisers if your school has not received it.</label>
            </div>
        </div>
        <button class="p-4 bg-black rounded-md">
            <div class="flex flex-row items-center justify-center">
                <p class="ml-2 text-xl font-semibold text-white grow text-center">Login</p>
            </div>
        </button>

    </form>
</div>
{% endblock %}