{% extends "base.html" %}
{% load static %}
{% load component_tags %}

{% block title %} {% endblock %}

{% block css_imports %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/animations.css' %}">
{% endblock %}

{% block content %}
<!-- <div class="hero-bg md:bg-black h-screen absolute top-0 -z-20 w-screen"> -->
<div class="hero-bg bg-black h-screen absolute top-0 -z-20 w-screen">

</div>
<section class="hero h-screen">
        <div class="flex flex-col items-center flex-grow h-full">
            <div class="flex flex-col items-center justify-center text-white flex-grow">
                <p class="pt-16 mb-8 font-extrabold font-display text-6xl md:text-7xl lg:text-8xl text-violet uppercase text-center leading-snug sm:leading-snug md:leading-snug lg:leading-normal xl:leading-snug 2xl:leading-tight">
                    <span>Prepare. for.</span> <br> <span class="text-7xl md:text-8xl lg:text-9xl"> Takeoff </span>
                </p>
            </div>
            <div class="flex flex-row justify-center items-center flex-grow-0 pb-3">
                <img src="{% static 'assets/logo.png' %}" alt="" class="h-20 lg:h-28 relative -top-2">
                <span class="pl-2 uppercase text-5xl lg:text-7xl font-display font-semibold">Is back.</span>
            </div>
        </div>
</section>

<section id="declaration"
    class="relative flex flex-col justify-center h-full min-h-screen px-5 leading-normal gap-9 md:px-20 lg:px-44 bg-offblack font-display md:gap-12">
    <p data-inviewport="fade-in-bottom"
        class="cssanimation animation-duration-1-half text-5xl font-bold  leading-normal sm:leading-normal text-grey-tertiary md:leading-relaxed lg:leading-relaxed xl:leading-relaxed 2xl:leading-normal md:font-extrabold md:text-7xl lg:text-7xl 2xl:text-8xl"">
        North India's <span class="text-violet">premier</span> tech event is back.
    </p>
    <p data-inviewport="fade-in-bottom"
        class="cssanimation animation-delay-half animation-duration-1-half text-5xl font-bold leading-normal sm:leading-normal text-white md:leading-relaxed lg:leading-relaxed xl:leading-relaxed 2xl:leading-normal md:font-extrabold md:text-7xl lg:text-7xl 2xl:text-8xl">
        Better than ever before.
    </p>
</section>

<section id="events" class="relative px-5 py-16 mx-auto bg-grey md:px-20 lg:px-44">
    <h1 data-inviewport="fade-in-bottom" class="cssanimation mb-6 md:mb-9 text-center text-black">Our Events</h1>
    <div data-inviewport="fade-in-bottom" class="cssanimation animation-delay-half grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-6 md:gap-9">

        <div class="shadow-lg flex flex-col items-center justify-center gap-6 rounded-lg p-7 bg-offwhite">
            <h3 class="uppercase">Junior</h3>
            <p class="text-xl">Grade 5</p>
        </div>
        <div class="shadow-lg flex flex-col items-center justify-center gap-6 rounded-lg p-7 bg-offwhite">
            <h3 class="uppercase">Middle</h3>
            <p class="text-xl">Grades 6-8</p>
        </div>
        <div class="shadow-lg flex flex-col items-center justify-center gap-6 rounded-lg p-7 bg-offwhite">
            <h3 class="uppercase">Senior</h3>
            <p class="text-xl">Grades 9-12</p>
        </div>
        <div class="shadow-lg flex flex-col items-center justify-center gap-6 rounded-lg p-7 bg-offwhite">
            <h3 class="uppercase">Open</h3>
            <p class="text-xl">Grades 6-12</p>
        </div>
    </div>
</section>

<section class="relative px-5 py-16 mx-auto bg-white md:px-20 lg:px-44 ">
    <h2 class="mb-3 text-black uppercase">Flagship Events</h2>
    <h3 class="mb-6 font-medium md:mb-9 xl:mb-12">More details coming soon for all events!</h3>
    <div class="grid lg:grid-cols-2 2xl:grid-cols-3 gap-9">
        {% component "event" style="light" event_name="Quiz" event_elig="junior middle senior" event_link="quiz" event_participation_reqs="1 team of 3" event_short_desc="ShriTeq's classic flagship event, the quiz, returns! Junior, middle and senior teams will each contest to answer tech-based questions in a variety of formats. Teams will be shortlisted for onstage semi-finals after an offline preliminary round." %}
        {% component "event" style="light" event_name="Hackathon" event_elig="senior" event_link="hackathon" event_participation_reqs="1 team of 5" event_short_desc="Ideation, creation, and execution are the essence of the ShriTeq Hackathon. Create an original product based on a theme and present it in front of a panel of judges after qualifying for the finals through online preliminaries." %}
        {% component "event" style="light" event_name="Bot Xchange" event_elig="senior" event_link="bot-xchange" event_participation_reqs="1 team of 3" event_short_desc="Make it rain! Submit an ML-powered algorithm to make stock market from real data. Risking it all or playing it safe: it's up to your model to decide. The team whose algorithm generates the highest profit when tested against real-world data will be declared the winner." %}

    </div>
</section>

<section class="px-5 py-16 mx-auto bg-offblack md:px-20 lg:px-44">
    <h2 class="mb-10 text-white uppercase">Other Events</h2>
    <div class="grid lg:grid-cols-2 2xl:grid-cols-3 gap-9">
    {% component "event" style="dark" event_name="Crypt Hunt" event_elig="open" event_link="crypt-hunt" event_participation_reqs="Unlimited" event_short_desc="Solve cryptic riddles and chase rabbit holes as you work to solve a series of questions. Schools will work as one over the official event Discord server to solve questions together. Questions will be hosted on the online platform for the crypt hunt." %}
        {% component "event" style="dark" event_name="Competitive Gaming" event_elig="middle senior" event_link="gaming" event_participation_reqs="1 team of 3" event_short_desc="FPS pro or a casual gamer? This event has something for everyone to enjoy! Qualify for the finals by going through online preliminaries, and get the chance to stream your game in front of a live audience! The game(s) for the finals and preliminaries will be revealed two days before the date of the event."%}
        {% component "event" style="dark" event_name="PhotoMorph" event_elig="senior" event_link="photomorph" event_participation_reqs="1 team of 2" event_short_desc="Unleash your creativity on eccentric images! Transform a starter image based on an open-ended textual prompt using your photo editing skills. Participants will be judged based on creativity, technical accomplishment, and adherence to the prompt in their online submission."%}
        {% component "event" style="dark" event_name="Competitive Programming" event_elig="senior" event_link="programming" event_participation_reqs="1 team of 2" event_short_desc="Push your coding abilities to the limits as your team attempts to solve as many programming questions as possible in a one-hour marathon. A preliminary round will be conducted online and the top teams will be invited for offline finals."%}
        {% component "event" style="dark" event_name="Ad-Making" event_elig="senior" event_link="ad-making" event_participation_reqs="1 team of 4" event_short_desc="Turn the dull into the sublime! Create a short showcase digital advertisement for a mundane object using your video editing and animation skills. Videos will be submitted and evaluated online."%}
        {% component "event" style="dark" event_name="Web Design" event_elig="middle" event_link="web-design" event_participation_reqs="1 team of 2" event_short_desc="Put your web dev skills to good! Make a static website for a specified organisation in a using online website building tools. Participants will be invited offline, where the requirements will be revealed and where they will create the website."%}
        {% component "event" style="dark" event_name="Pac-Man" event_elig="open" event_link="pac-man" event_participation_reqs="Unlimited" event_short_desc="Gobble your way up the ranks in this free-for-all online retro gaming event! Points will be awarded based on the school of the participants at the top of the leaderboard at the end of the event." %}
    </div>
</section>

<section id="register" class="px-5 py-10 bg-white md:px-20 lg:px-44">
    <div class="">
        <h1 class="mb-4">Register</h1>
        <p class="text-2xl mb-7">The last date for registration for all events is the XX of September</p>
        <button href="" class="p-4 bg-black rounded-lg">
            <div class="flex flex-row items-center justify-center">
                <p class="ml-2 text-xl font-semibold text-white grow">Register now</p>
                <svg class="h-7 fill-white" width="53" height="54" viewBox="0 0 53 54" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_12_310)">
                        <path
                            d="M53 26.8794C53 12.2423 41.1371 0.379395 26.5 0.379395C11.8629 0.379395 0 12.2423 0 26.8794C0 41.5165 11.8629 53.3794 26.5 53.3794C41.1371 53.3794 53 41.5165 53 26.8794ZM27.5248 40.0052C26.9037 39.7464 26.5 39.146 26.5 38.4731V31.8481H16.5625C14.7334 31.8481 13.25 30.3648 13.25 28.5356V25.2231C13.25 23.394 14.7334 21.9106 16.5625 21.9106H26.5V15.2856C26.5 14.616 26.9028 14.0114 27.5222 13.7557C28.1417 13.4986 28.8534 13.6409 29.3275 14.1148L40.9213 25.7085C41.568 26.3553 41.568 27.4041 40.9213 28.0501L29.3275 39.6438C28.8498 40.119 28.1459 40.264 27.5248 40.0052Z"
                            fill="white" />
                    </g>
                    <defs>
                        <clipPath id="clip0_12_310">
                            <rect width="53" height="53" fill="white" transform="translate(0 0.379395)" />
                        </clipPath>
                    </defs>
                </svg>
            </div>
        </button>
    </div>

</section>
{% endblock content%}

{% block script %}

<script src="{% static 'js/animations.js' %}"></script>
<script>
    // Increase nav opacity to 80% when scrolled past first 100vh
    window.addEventListener('scroll', function () {
        let nav = document.querySelector('nav');
        let navHeight = nav.offsetHeight;
        let scrollHeight = window.scrollY;
        if (scrollHeight > navHeight) {
            nav.classList.add('bg-opacity-95');
        } else {
            nav.classList.remove('bg-opacity-95');
        }
    });

</script>
{% endblock %}