{% extends 'base.html' %}
{% load static %}

{% block title %} | Judges {% endblock title %}
{% block content %}
<div class="pt-9 pb-12 px-8 md:px-20 lg:px-44 xl:px-60">
    <section class="pb-12">
        <h2 class="text-violet-custom">Hackathon</h2>
        <hr class="mt-3 mb-6 h-1 bg-violet-custom border-0">
        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-12">
            <div class="col-span-1  flex flex-col justify-center items-center gap-2 md:gap-3">
                <img src="{% static 'judges/fake.jpeg' %}" alt="" class="max-h-40 md:max-h-56">
                <div class="text-center">
                    <h4>Jane Doe</h4>
                    <em>Title job</em>
                </div>
                <p class="text-md leading-relaxed">
                    Et adipiscing aliqua laborum veniam, fugiat reprehenderit. Laborum, veniam fugiat
                    reprehenderit do. Reprehenderit do sed excepteur. Sed excepteur non duis reprehenderit ullamco. Non
                    duis reprehenderit, ullamco.
                    <br>
                    Commodo dolore consequat ad laborum aliquip deserunt. Consequat, ad laborum aliquip deserunt ut elit
                    voluptate. Aliquip deserunt, ut elit. Elit voluptate labore duis sed in, excepteur. Duis sed in excepteur exercitation, mollit autes.
                    <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptate.
                </p>
            </div>
            <div class="col-span-1  flex flex-col justify-center items-center gap-2 md:gap-3">
                <img src="{% static 'judges/fake.jpeg' %}" alt="" class="max-h-40 md:max-h-56">
                <div class="text-center">
                    <h4>Jane Doe</h4>
                    <em>Title job</em>
                </div>
                <p class="text-md leading-relaxed">
                    Et adipiscing aliqua laborum veniam, fugiat reprehenderit. Laborum, veniam fugiat
                    reprehenderit do. Reprehenderit do sed excepteur. Sed excepteur non duis reprehenderit ullamco. Non
                    duis reprehenderit, ullamco.
                    <br>
                    Commodo dolore consequat ad laborum aliquip deserunt. Consequat, ad laborum aliquip deserunt ut elit
                    voluptate. Aliquip deserunt, ut elit. Elit voluptate labore duis sed in, excepteur. Duis sed in excepteur exercitation, mollit autes.
                    <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptate.
                </p>
            </div>
            <div class="col-span-1  flex flex-col justify-center items-center gap-2 md:gap-3">
                <img src="{% static 'judges/fake.jpeg' %}" alt="" class="max-h-40 md:max-h-56">
                <div class="text-center">
                    <h4>Jane Doe</h4>
                    <em>Title job</em>
                </div>
                <p class="text-md leading-relaxed">
                    Et adipiscing aliqua laborum veniam, fugiat reprehenderit. Laborum, veniam fugiat
                    reprehenderit do. Reprehenderit do sed excepteur. Sed excepteur non duis reprehenderit ullamco. Non
                    duis reprehenderit, ullamco.
                    <br>
                    Commodo dolore consequat ad laborum aliquip deserunt. Consequat, ad laborum aliquip deserunt ut elit
                    voluptate. Aliquip deserunt, ut elit. Elit voluptate labore duis sed in, excepteur. Duis sed in excepteur exercitation, mollit autes.
                    <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptate.
                </p>
            </div>

        </div>

    </section>

    <section class="pb-3">
        <h2 class="text-violet-custom">Hackathon</h2>
        <hr class="mt-3 mb-6 h-1 bg-violet-custom border-0">
        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-12">
            <div class="col-span-1  flex flex-col justify-center items-center gap-2 md:gap-3">
                <img src="{% static 'judges/fake.jpeg' %}" alt="" class="max-h-40 md:max-h-56">
                <div class="text-center">
                    <h4>Jane Doe</h4>
                    <em>Title job</em>
                </div>
                <p class="text-md leading-relaxed">
                    Et adipiscing aliqua laborum veniam, fugiat reprehenderit. Laborum, veniam fugiat
                    reprehenderit do. Reprehenderit do sed excepteur. Sed excepteur non duis reprehenderit ullamco. Non
                    duis reprehenderit, ullamco.
                    <br>
                    Commodo dolore consequat ad laborum aliquip deserunt. Consequat, ad laborum aliquip deserunt ut elit
                    voluptate. Aliquip deserunt, ut elit. Elit voluptate labore duis sed in, excepteur. Duis sed in excepteur exercitation, mollit autes.
                    <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptate.
                </p>
            </div>
            <div class="col-span-1  flex flex-col justify-center items-center gap-2 md:gap-3">
                <img src="{% static 'judges/fake.jpeg' %}" alt="" class="max-h-40 md:max-h-56">
                <div class="text-center">
                    <h4>Jane Doe</h4>
                    <em>Title job</em>
                </div>
                <p class="text-md leading-relaxed">
                    Et adipiscing aliqua laborum veniam, fugiat reprehenderit. Laborum, veniam fugiat
                    reprehenderit do. Reprehenderit do sed excepteur. Sed excepteur non duis reprehenderit ullamco. Non
                    duis reprehenderit, ullamco.
                    <br>
                    Commodo dolore consequat ad laborum aliquip deserunt. Consequat, ad laborum aliquip deserunt ut elit
                    voluptate. Aliquip deserunt, ut elit. Elit voluptate labore duis sed in, excepteur. Duis sed in excepteur exercitation, mollit autes.
                    <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptate.
                </p>
            </div>
            <div class="col-span-1  flex flex-col justify-center items-center gap-2 md:gap-3">
                <img src="{% static 'judges/fake.jpeg' %}" alt="" class="max-h-40 md:max-h-56">
                <div class="text-center">
                    <h4>Jane Doe</h4>
                    <em>Title job</em>
                </div>
                <p class="text-md leading-relaxed">
                    Et adipiscing aliqua laborum veniam, fugiat reprehenderit. Laborum, veniam fugiat
                    reprehenderit do. Reprehenderit do sed excepteur. Sed excepteur non duis reprehenderit ullamco. Non
                    duis reprehenderit, ullamco.
                    <br>
                    Commodo dolore consequat ad laborum aliquip deserunt. Consequat, ad laborum aliquip deserunt ut elit
                    voluptate. Aliquip deserunt, ut elit. Elit voluptate labore duis sed in, excepteur. Duis sed in excepteur exercitation, mollit autes.
                    <br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptate.
                </p>
            </div>

        </div>

    </section>

</div>
{% endblock content %}