{% extends 'base.html'%}
{% load static %}

{% block title %} | Available Events {% endblock title %}

{% block content %}
<section id="events" class="px-5 py-16 mx-auto md:px-20 lg:px-44">
    <div class="flex flex-row justify-center items-center lg:items-end mb-6">
        <div class="lg:flex-grow">
            <h2 class="mb-2">Available events</h2>
            <div class="">
                <h4>Signed in as {{ user_id }} from {{ school.display_name }}</h4> 
            </div>
        </div>
        <div class="flex flex-row min-w-max">
            <h4> <a href="{% url 'logout' %}">
                <button class="border border-violet-custom rounded-md text-violet-custom py-2 px-3 text-sm hover:bg-violet-custom hover:text-white">Sign out</button>
            </a> </h4>
        </div>
    </div>

    <div class="grid lg:grid-cols-2 gap-4 lg:gap-8">
        <div class="border rounded-md py-5 px-8 border-violet-custom">
            <div class="flex flex-col items-center gap-6">
                <h4>Crypt Hunt</h4>
                <p>Hac habitant felis nisl ligula elit eu suscipit adipiscing tristique facilisi bibendum viverra
                    praesent nulla pellentesque facilisis nec id scelerisque quisque iaculis magna odio malesuada</p>
                <a href="{% url 'crypt_hunt_play' %}"
                    class="w-full p-3 bg-violet-custom text-white text-center rounded-md">Play</a>
            </div>
        </div>
        <div class="border rounded-md py-5 px-8 border-violet-custom">
            <div class="flex flex-col items-center gap-6">
                <h4>Pac-Man</h4>
                <p>Hac habitant felis nisl ligula elit eu suscipit adipiscing tristique facilisi bibendum viverra
                    praesent nulla pellentesque facilisis nec id scelerisque quisque iaculis magna odio malesuada</p>
                <a href="{% url 'pac_man_play' %}"
                    class="w-full p-3 bg-violet-custom text-white text-center rounded-md">Play</a>
            </div>
        </div>
    </div>

</section>
{% endblock content %}