{% extends 'base.html' %}
{% load static %}

{% block title %} | Rules {% endblock title %}
{% block content %}
<section class="relative px-5 mx-auto py-6 md:px-20 lg:px-44">

<h2 class="text-center">Rules</h2>
<ul class="my-8 list-disc ml-8 flex flex-col gap-2 leading-relaxed text-lg">
    <li> Any one student from a school will be allowed to participate in:
        <ul class="list-disc ml-8">
            <li>One online event </li>
            <li>One offline event or hybrid event </li>
            <li>Unlimited open events </li>
        </ul>
    </li>
    <li> In case of any clashes between event timings, no concessions will be made for participants wishing to
        participate in multiple events. </li>
    <li> Event details are subject to change. Please check the site regularly for the latest information on all events.
    </li>
    <li> Prompts, starting materials, and additional event guidelines for an event will be released on the event’s page
        on the ShriTeq website. </li>
    <li> School representatives, as well as students competing in Bot Xchange, Code Combat, Crypt Hunt, and Gaming should join the <a class="text-violet-custom font-bold" href="https://discord.gg/Gt3ZGvssgH">ShriTeq 2022 Discord server</a>.   </li>
    <li> Decisions taken by the OC and the judging panel for any individual event will be final and binding. </li>
</ul>

</section>
{% endblock content %}