{% extends 'base.html'%}
{% load static %}

{% block title %} | 404 {% endblock title %}

{% block content %}
<div class="h-full flex-grow flex flex-col justify-center items-center">
    <div class="flex flex-col items-center justify-start mb-9">
        <h1 class="text-violet-custom text-12xl mb-4">404</h1>
        <h2 class="font-medium text-violet-custom">Page not found</h2>
    </div>
    <a href="{% url 'index' %}" class="mb-3 font-medium underline">
        <h3 class="text-center">Return to home page</h3>
    </a>
</div>
{% endblock content %}